<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="warsofcars.Properties.Settings.warsofcarsConnectionString"
            connectionString="Data Source=MUSTAFA_PC\SQLEXPRESS;Initial Catalog=warsofcars;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="warsofcars.Properties.Settings.vt1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\vt1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>